@import './layout/vars';
@import './layout/libs';
@import './layout/base';
@import './layout/fonts';

button:active, button:focus {
  outline: none;
}

/* ============================= Header ============================== */

.logo {
	width: 69px;
	height: 62px;
}

.main-header {
	background: url(../img/bg-main.jpg) center / cover no-repeat;
	height: 100vh;
	min-height: 700px;
	position: relative;
	.navbar-toggler {
		color: #fff;
	}
	.navbar-brand {
		font-size: 41px;
		font-weight: 600;
		color: #fff;
	}
	ul li a {
		font-size: 17px;
		font-weight: 600;
		color: #fff;
		&::after {
			content: '';
			display: block;
			width: 100%;
			background-color: #fff;
			height: 1px;
			transform: scale(0);
			transition: transform .2s cubic-bezier(.64,.28,.48,.99);
		}
		&:hover {
			&::after {
				transform: scale(1);
			}
		}
	}
}

.main-header-content {
	position: absolute;
	top: 25%;
	left: 15%;
	max-width: 600px;
	color: #fff;
	padding: 20px;
}

.main-header-buttons {
	padding-left: 30px;
	.btn {
		padding: 18px 40px;
		margin-right: 20px;
		opacity: .8;
		margin-top: 30px;
		box-shadow: 0 4px 16px rgba(0,0,0,.35);
		transition: opacity .2s cubic-bezier(.64,.28,.48,.99);
		&:hover {
			color: #fff;
			opacity: 1;
		}
	}
}

.btn {
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
}

.btn-pink {
	background-color: #f42276;
}

.btn-violet {
	background-color: #69328e;
}

.section-tabs {
	.nav-pills {
		margin-bottom: 20px;
	}
	.nav-link {
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
		padding: 14px 30px;
		color: #484848;
		line-height: 1;
	}
	.nav-link.active {
		background-color: #f42267;
		box-shadow: 0 4px 16px rgba(0,0,0,.35);
	}
}

/* ============================= section Watch ============================== */

.section-watch {
	background: url(../img/world-map.png) center / cover no-repeat;
	h3, h4 {
		color: #484848;
	}
}

.btn-shadow {
	box-shadow: 0 10px 0 #ff5990;
	border-radius: 10px;
	padding: 12px 25px;
	transition: all .2s cubic-bezier(.64,.28,.48,.99);
	&:hover {
		color: #fff;
		box-shadow: 0 10px 0 #ff3f7f;
		background-color: #da1757;
	}
}

/* ============================= section Progress ============================== */

.section-progress {
	background-color: #4b2d7f;
	color: #fff;
	font-size: 15px;
	padding: 0;
	.progress-item {
		padding-top: 80px;
		padding-bottom: 80px;
		transition: all .5s;
		&:hover {
			background-color: #40286a;
		}
	}
	.num {
		font-size: 50px;
		font-weight: 600;
		margin: 30px 0 20px;
	}
	h4 {
		font-size: 30px;
		height: 72px;
		overflow: hidden;
	}
	i {
		font-size: 70px;
	}
}

/* ============================= section Lets ============================== */

.section-lets {
	background: url(../img/letsgrow.jpg) center / cover no-repeat;
	color: #fff;
	.btn {
		margin-top: 45px;
	}
}

/* ============================= section Design ============================== */

.section-design {
	h3, h4 {
		color: #484848;
	}
	h3 {
		font-size: 33px;
	}
	span i {
		font-size: 60px;
		background: linear-gradient(45deg, rgba(255,0,32,.7) 0%, rgba(68,26,130,.8) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-left: 15px;
	}
	h2 {
		font-size: 25px;
		font-weight: 600;
		color: #484848;
		margin: 10px 0;
	}
}

.embed-responsive{
	position: relative;
	border-radius: 10px;
}

#videoPlayBtn {
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: absolute;
	top: 0;
	cursor: pointer;
	background: url(../img/play.png) center no-repeat;
}

/* ============================= section Work ============================== */

.section-work {
	background-color: #f1f1f1;
	.nav-pills {
		margin: 30px 0;
	}
	.gallery-item {
		margin-bottom: 20px;
	}
}

.gallery-item {
	a img {
		transition: all .25s ease;
		&:hover {
			box-shadow: 0 14px 30px -15px rgba(0,0,0,.75);
		}
	}
}

/* ============================= section Partners ============================== */

.section-partners {
	background-color: #4b2d7f;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main-header {
		ul li a {
			&::after {
				display: none;
			}
		}
	}
	.main-header-content {
		background-color: rgba(0,0,0,.2);
	}
	section {
		padding: 50px 0;
	}
}

@media only screen and (max-width : 991px) {
	.navbar-nav {
		background: linear-gradient(45deg, rgba(237, 27, 51, 1) 0%,rgba(68, 46, 130, .8) 100%);
		position: relative;
		z-index: 1;
		padding: 0 15px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.main-header-content {
		left: 0;
		margin: 0 20px;
		max-width: 100%;
	}
	.main-header-text {
		h3 {
			font-size: 36px;
		}
		h4 {
			font-size: 38px;
		}
	}
	.section-progress {
		.progress-item {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}

@media only screen and (max-width : 600px) {
	.main-header-content {
		top: 90px;
	}
	.main-header-buttons {
		padding: 0;
		.btn {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			&:last-child {
				margin-top: 0;
			}
		}
	}
	.btn-shadow {
		padding: 10px 15px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.main-header-text {
		text-align: center;
		h3 {
			font-size: 30px;
		}
		h4 {
			font-size: 32px;
		}
	}
	.section-watch .nav-pills .nav-item {
		margin-bottom: 10px;
		width: 100%;
	}
	.section-watch .nav-pills .nav-link {
		padding: 8px 16px;
	}
}

@media only screen and (max-width : 380px) {
	.main-header {
		.navbar-brand {
			font-size: 30px;
		}
	}
	.main-header-text {
		text-align: center;
		h3 {
			font-size: 22px;
		}
		h4 {
			font-size: 32px;
		}
	}
}